In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [118]:
df = pd.read_csv('Crime_Data_Statewise.csv')
df.head()

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [119]:
df.shape

(9017, 33)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9017 entries, 0 to 9016
Data columns (total 33 columns):
STATE_UT                                               9017 non-null object
DISTRICT                                               9017 non-null object
YEAR                                                   9017 non-null int64
MURDER                                                 9017 non-null int64
ATTEMPT TO MURDER                                      9017 non-null int64
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              9017 non-null int64
RAPE                                                   9017 non-null int64
CUSTODIAL RAPE                                         9017 non-null int64
OTHER RAPE                                             9017 non-null int64
KIDNAPPING & ABDUCTION                                 9017 non-null int64
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            9017 non-null int64
KIDNAPPING AND ABDUCTION OF OTHERS                     9017 non-null int64
DACOITY                                                9017 non-null int64
PREPARATION AND ASSEMBLY FOR DACOITY                   9017 non-null int64
ROBBERY                                                9017 non-null int64
BURGLARY                                               9017 non-null int64
THEFT                                                  9017 non-null int64
AUTO THEFT                                             9017 non-null int64
OTHER THEFT                                            9017 non-null int64
RIOTS                                                  9017 non-null int64
CRIMINAL BREACH OF TRUST                               9017 non-null int64
CHEATING                                               9017 non-null int64
COUNTERFIETING                                         9017 non-null int64
ARSON                                                  9017 non-null int64
HURT/GREVIOUS HURT                                     9017 non-null int64
DOWRY DEATHS                                           9017 non-null int64
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    9017 non-null int64
INSULT TO MODESTY OF WOMEN                             9017 non-null int64
CRUELTY BY HUSBAND OR HIS RELATIVES                    9017 non-null int64
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            9017 non-null int64
CAUSING DEATH BY NEGLIGENCE                            9017 non-null int64
OTHER IPC CRIMES                                       9017 non-null int64
TOTAL IPC CRIMES                                       9017 non-null int64
dtypes: int64(31), object(2)
memory usage: 2.2+ MB

In [121]:
df.describe()

,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
count,9017.000000,9017.00000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,...,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000
mean,2006.629034,89.28535,78.069646,9.895531,53.041366,0.005767,53.035599,79.152046,58.535433,20.616613,...,25.219918,747.893091,20.228901,100.511257,27.515582,194.122435,0.197849,222.216702,2174.299434,5310.115116
std,3.463623,327.27503,303.446020,59.521657,190.741450,0.115223,190.725474,317.630964,246.937464,88.586415,...,98.880282,3024.106467,96.970466,394.059436,167.237522,831.986594,2.415039,936.002540,7988.438462,18524.381119
min,2001.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,18.00000,10.000000,0.000000,8.000000,0.000000,8.000000,10.000000,6.000000,1.000000,...,2.000000,43.000000,1.000000,10.000000,0.000000,11.000000,0.000000,5.000000,265.000000,853.000000
50%,2007.000000,38.00000,28.000000,2.000000,20.000000,0.000000,20.000000,25.000000,18.000000,5.000000,...,8.000000,199.000000,5.000000,31.000000,2.000000,47.000000,0.000000,68.000000,745.000000,2096.000000
75%,2010.000000,66.00000,56.000000,6.000000,41.000000,0.000000,41.000000,56.000000,42.000000,13.000000,...,20.000000,529.000000,16.000000,76.000000,13.000000,135.000000,0.000000,177.000000,1608.000000,3972.000000
max,2012.000000,7601.00000,7964.000000,1616.000000,3425.000000,5.000000,3425.000000,8878.000000,7910.000000,2416.000000,...,2830.000000,56768.000000,2322.000000,7118.000000,4970.000000,19865.000000,83.000000,16076.000000,124176.000000,220335.000000

In [122]:
state = df.STATE_UT=='PUNJAB'
murder = df.MURDER

df [state & murder].head()

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
472,PUNJAB,BARNALA,2001,15,29,1,12,0,12,16,...,5,71,6,13,0,24,0,51,134,501
474,PUNJAB,BHATINDA,2001,25,38,3,13,0,13,15,...,0,242,4,15,0,57,0,3,295,1080
480,PUNJAB,HOSHIARPUR,2001,47,30,0,19,0,19,20,...,7,257,12,13,0,46,0,158,265,1237
481,PUNJAB,JAGRAON,2001,27,33,1,19,0,19,19,...,2,105,7,3,2,27,0,60,151,633
484,PUNJAB,KHANNA,2001,17,17,2,6,0,6,4,...,2,76,4,0,0,15,0,88,127,486

In [123]:
state = df.STATE_UT=='PUNJAB'
year = df.YEAR==2005

df [state & year].head()

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
3379,PUNJAB,AMRITSAR,2005,47,28,4,5,0,5,20,...,0,114,2,6,0,44,0,79,372,1124
3380,PUNJAB,BARNALA,2005,11,12,2,11,0,11,2,...,1,73,3,11,0,12,0,44,134,473
3381,PUNJAB,BATALA,2005,22,30,1,24,0,24,18,...,0,136,7,7,0,34,0,58,478,1085
3382,PUNJAB,BHATINDA,2005,45,52,73,30,0,30,37,...,5,214,2,23,1,45,0,5,441,1547
3383,PUNJAB,FARIDKOT,2005,17,36,1,6,0,6,10,...,0,125,1,10,0,9,0,0,172,579

In [124]:
state1 = df.STATE_UT=='BIHAR'
state2 = df.STATE_UT=='PUNJAB'
year1 = df.YEAR==2011
year2 = df.YEAR==2012
rape1 = df.RAPE

In [125]:
df[(state1 | state2) & year1]

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
7498,BIHAR,ARARIA,2011,69,44,14,69,0,69,115,...,14,98,26,14,0,24,0,52,1674,2914
7499,BIHAR,ARWAL,2011,23,69,8,5,0,5,17,...,8,72,24,8,0,8,0,34,330,799
7500,BIHAR,AURANGABAD,2011,88,105,1,18,0,18,62,...,13,366,30,32,0,152,0,172,1306,3409
7501,BIHAR,BAGAHA,2011,38,45,6,16,1,15,62,...,11,184,13,8,0,15,0,73,685,1623
7502,BIHAR,BANKA,2011,51,55,7,26,0,26,66,...,19,369,31,8,0,26,0,94,626,1765
7503,BIHAR,BEGUSARAI,2011,100,40,2,17,0,17,119,...,20,595,39,12,0,39,0,411,1178,3420
7504,BIHAR,BETTIAH,2011,74,12,2,21,0,21,118,...,16,226,32,7,0,67,0,89,2290,3903
7505,BIHAR,BHABHUA,2011,57,62,2,9,0,9,57,...,30,255,33,32,0,17,0,79,870,2025
7506,BIHAR,BHAGALPUR,2011,85,51,10,23,0,23,106,...,41,527,12,10,0,17,0,294,971,3024
7507,BIHAR,BHOJPUR,2011,96,41,4,16,0,16,64,...,13,328,40,2,0,72,0,129,1964,3564
7508,BIHAR,BUXAR,2011,65,34,1,13,0,13,76,...,6,657,37,6,0,59,0,68,455,2236
7509,BIHAR,DARBHANGA,2011,71,92,43,34,0,34,128,...,27,1155,38,202,0,284,0,157,1658,5387
7510,BIHAR,GAYA,2011,155,22,9,23,0,23,155,...,17,1200,56,7,0,47,0,495,1545,5207
7511,BIHAR,GOPALGANJ,2011,77,169,0,17,0,17,139,...,26,576,35,30,0,56,0,100,1344,3334
7512,BIHAR,JAMALPUR RLY.,2011,6,0,2,0,0,0,3,...,0,0,0,2,0,1,0,0,70,290
7513,BIHAR,JAMUI,2011,66,140,18,23,0,23,71,...,32,589,13,34,0,40,0,56,302,1902
7514,BIHAR,JEHANABAD,2011,51,10,7,10,0,10,31,...,4,79,20,8,0,22,0,58,913,1658
7515,BIHAR,KATIHAR,2011,83,82,3,103,0,103,126,...,7,1157,29,10,0,25,1,111,1126,3653
7516,BIHAR,KATIHAR RLY.,2011,17,1,0,2,0,2,8,...,0,39,0,4,0,2,0,5,92,390
7517,BIHAR,KHAGARIA,2011,55,45,0,14,0,14,53,...,15,429,15,0,0,26,0,93,768,1899
7518,BIHAR,KISHANGANJ,2011,34,5,0,30,0,30,63,...,0,194,13,20,0,50,0,47,367,1225
7519,BIHAR,LAKHISARAI,2011,40,8,1,5,0,5,51,...,9,180,14,12,0,44,0,66,469,1243
7520,BIHAR,MADHEPURA,2011,44,12,1,8,0,8,78,...,7,299,11,0,0,21,0,56,715,1810
7521,BIHAR,MADHUBANI,2011,81,8,0,44,0,44,182,...,0,940,35,0,0,138,0,93,2158,4660
7522,BIHAR,MOTIHARI,2011,136,741,38,37,0,37,209,...,33,1055,69,8,0,57,0,56,3350,7489
7523,BIHAR,MUNGER,2011,68,49,5,7,0,7,72,...,7,731,10,2,0,49,0,45,368,1981
7524,BIHAR,MUZAFFARPUR,2011,154,24,14,56,0,56,255,...,36,247,76,4,0,91,2,347,3338,6827
7525,BIHAR,MUZAFFARPUR RLY.,2011,11,2,1,0,0,0,6,...,0,7,1,11,0,0,0,9,167,524
7526,BIHAR,NALANDA,2011,84,61,24,15,0,15,81,...,10,1116,55,29,0,96,0,236,1999,4527
7527,BIHAR,NAUGACHIA,2011,44,20,36,7,0,7,38,...,7,223,8,6,0,44,0,122,621,1478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7542,BIHAR,TOTAL,2011,3198,3327,348,934,1,933,4268,...,705,19391,1413,790,11,2607,10,5877,55705,135896
7934,PUNJAB,AMRITSAR,2011,52,41,1,16,0,16,21,...,8,209,1,16,0,58,0,169,239,1171
7935,PUNJAB,BARNALA,2011,11,24,1,5,0,5,7,...,2,103,3,6,0,10,0,89,358,824
7936,PUNJAB,BATALA,2011,28,28,3,13,0,13,16,...,10,185,4,8,0,35,0,78,188,858
7937,PUNJAB,BHATINDA,2011,48,54,1,37,0,37,31,...,2,244,5,11,1,49,0,130,402,1609
7938,PUNJAB,CP AMRITSAR,2011,32,75,0,20,0,20,43,...,4,154,4,7,1,101,0,66,485,1807
7939,PUNJAB,CP JALANDHAR,2011,29,39,8,15,0,15,45,...,10,169,4,19,3,74,0,79,553,1962
7940,PUNJAB,CP LUDHIANA,2011,76,83,12,48,0,48,94,...,7,240,14,25,12,109,0,265,1023,3154
7941,PUNJAB,FARIDKOT,2011,17,18,2,8,0,8,7,...,2,158,1,10,0,20,0,1,339,760
7942,PUNJAB,FATEHGARH SAHIB,2011,13,12,2,4,0,4,9,...,0,143,4,4,1,21,0,118,238,792
7943,PUNJAB,FAZILKA,2011,22,21,3,21,0,21,25,...,0,195,3,5,0,29,0,51,213,840
7944,PUNJAB,FEROZPUR,2011,31,45,4,20,0,20,32,...,7,233,6,9,0,53,0,91,277,1213
7945,PUNJAB,G.R.P,2011,6,3,2,0,0,0,1,...,0,9,0,0,0,0,0,0,275,351
7946,PUNJAB,GURDASPUR,2011,22,29,6,12,0,12,26,...,0,89,6,17,0,38,0,93,242,780
7947,PUNJAB,HOSHIARPUR,2011,51,43,5,28,0,28,31,...,5,290,11,13,2,72,0,207,315,1621
7948,PUNJAB,JALANDHAR,2011,41,51,4,31,0,31,32,...,6,299,6,22,0,57,0,143,370,1602
7949,PUNJAB,KAPURTHALA,2011,33,39,3,16,0,16,20,...,0,227,2,10,0,39,0,111,250,1182
7950,PUNJAB,KHANNA,2011,17,28,4,7,0,7,12,...,0,109,1,6,0,10,0,138,272,872
7951,PUNJAB,LUDHIANA,2011,16,30,2,8,0,8,15,...,4,91,4,4,4,22,0,107,306,867
7952,PUNJAB,MANSA,2011,28,26,1,14,0,14,9,...,1,113,4,5,0,13,0,45,162,583
7953,PUNJAB,MOGA,2011,32,60,3,12,0,12,26,...,5,203,5,3,0,26,0,87,319,1338
7954,PUNJAB,MUKTSAR,2011,24,21,8,17,0,17,16,...,2,161,7,8,0,16,0,73,164,739
7955,PUNJAB,PATHANKOT,2011,12,9,4,10,0,10,15,...,1,54,5,2,0,21,0,58,235,541
7956,PUNJAB,PATIALA,2011,47,43,12,25,0,25,31,...,2,278,13,22,0,95,0,323,1020,2653
7957,PUNJAB,ROPAR,2011,20,16,4,14,0,14,25,...,0,115,5,9,1,18,0,171,402,1083
7958,PUNJAB,SANGRUR,2011,38,52,9,30,0,30,25,...,3,240,14,10,0,36,0,206,704,1870
7959,PUNJAB,SAS NGR,2011,31,38,4,24,0,24,39,...,0,161,4,13,3,76,0,477,370,2068
7960,PUNJAB,SBS NAGAR,2011,18,21,3,8,0,8,9,...,2,125,4,6,3,14,0,106,170,729
7961,PUNJAB,TARN TARAN,2011,47,48,1,16,0,16,19,...,0,160,3,12,0,24,0,94,284,1014
7962,PUNJAB,TOTAL,2011,842,997,112,479,0,479,681,...,83,4757,143,282,31,1136,0,3576,10175,34883

In [126]:
df[(state1 | state2) & (year1 | year2)].count()

STATE_UT                                               148
DISTRICT                                               148
YEAR                                                   148
MURDER                                                 148
ATTEMPT TO MURDER                                      148
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              148
RAPE                                                   148
CUSTODIAL RAPE                                         148
OTHER RAPE                                             148
KIDNAPPING & ABDUCTION                                 148
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            148
KIDNAPPING AND ABDUCTION OF OTHERS                     148
DACOITY                                                148
PREPARATION AND ASSEMBLY FOR DACOITY                   148
ROBBERY                                                148
BURGLARY                                               148
THEFT                                                  148
AUTO THEFT                                             148
OTHER THEFT                                            148
RIOTS                                                  148
CRIMINAL BREACH OF TRUST                               148
CHEATING                                               148
COUNTERFIETING                                         148
ARSON                                                  148
HURT/GREVIOUS HURT                                     148
DOWRY DEATHS                                           148
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    148
INSULT TO MODESTY OF WOMEN                             148
CRUELTY BY HUSBAND OR HIS RELATIVES                    148
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            148
CAUSING DEATH BY NEGLIGENCE                            148
OTHER IPC CRIMES                                       148
TOTAL IPC CRIMES                                       148
dtype: int64

In [127]:
df.head(1)

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154

In [128]:
#PUNJAB DATA
abc = df.loc[ :, ['STATE_UT', 'DISTRICT','YEAR','MURDER']]

abc[abc.STATE_UT=='PUNJAB']

#def1 = (abc.STATE_UT=='PUNJAB') & (abc.MURDER)

pb = abc.STATE_UT=='PUNJAB'
md = abc.MURDER

dl = abc[pb & md]

In [130]:
#Maximum murder in Punjab
pb = abc.STATE_UT=='PUNJAB'
mr = abc.MURDER==max(ds.MURDER)

abc[pb & mr]

     STATE_UT DISTRICT  YEAR  MURDER
7175   PUNJAB    TOTAL  2010     907

In [131]:
#Minimum murder in Punjab
min_mur = ds.MURDER==min(ds.MURDER)

abc[pb & min_mur]

     STATE_UT DISTRICT  YEAR  MURDER
1195   PUNJAB    G.R.P  2002       5
3386   PUNJAB    G.R.P  2005       5
8746   PUNJAB    G.R.P  2012       5

In [138]:
#Maximum murder in Punjab
hr = abc[abc.STATE_UT=='HARYANA']

hr_b = abc.STATE_UT=='HARYANA'
mr = (hr.MURDER==max(hr.MURDER))

hr[hr_b & mr]

c:\users\deepa\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

     STATE_UT DISTRICT  YEAR  MURDER
7626  HARYANA    TOTAL  2011    1062

In [150]:
#Minimum murder in Punjab
hr = abc[abc.STATE_UT=='HARYANA']

hr_b = abc.STATE_UT=='HARYANA'
mr = (hr.MURDER==min(hr.MURDER))

hr[hr_b & mr]

c:\users\deepa\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

     STATE_UT   DISTRICT  YEAR  MURDER
899   HARYANA  PANCHKULA  2002       7
2350  HARYANA  PANCHKULA  2004       7

In [152]:
#Minimum murder in Punjab
bh = abc[abc.STATE_UT=='BIHAR']

bh_b = abc.STATE_UT=='BIHAR'
mr1 = (bh.MURDER==min(bh.MURDER))
bh[bh_b & mr1]

c:\users\deepa\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

     STATE_UT       DISTRICT  YEAR  MURDER
6733    BIHAR  JAMALPUR RLY.  2010       3

In [157]:
#Maximum murder in Punjab
bh = abc[abc.STATE_UT=='BIHAR']

bh_b = abc.STATE_UT=='BIHAR'
mr1 = (bh.MURDER==max(bh.MURDER))
bh[bh_b & mr1]

c:\users\deepa\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

     STATE_UT DISTRICT  YEAR  MURDER
2281    BIHAR    TOTAL  2004    3948

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8987    False
8988    False
8989    False
8990    False
8991    False
8992    False
8993    False
8994    False
8995    False
8996    False
8997    False
8998    False
8999    False
9000    False
9001    False
9002    False
9003    False
9004    False
9005    False
9006    False
9007    False
9008    False
9009    False
9010    False
9011    False
9012    False
9013    False
9014    False
9015    False
9016    False
Name: STATE_UT, Length: 9017, dtype: bool